<td>{{soybase.map_symbol}}</td>
<td>{{soybase.trait_name}}</td>
<td><a {{{bindAttr href="soybase.qtl_url"}}} target="_blank">qtl</a></td>
<td><a {{{bindAttr href="soybase.qtl_map_url"}}} target="_blank">qtl map</a></td>
