#search-results {
  width: 1100px;
}

.results {
  padding: 10px;
  clear: both;
}

.pie svg {
  width: 450px;
  float: left;
}

.total {
  font-size: 26px;
  font-weight: bold;
}

.total-label {
  color: gray;
  fill: gray;
  font-size: 22px;
  font-weight: bold;
}

.label {
  fill: gray;
  font-size: 12px;
  font-weight: bold;
}

.value {
  fill: gray;
  font-size: 12px;
}

.label {
  fill: gray;
  font-size: 12px;
}

.pie-legend {
  padding-right: 300px;
  margin-top: 125px;
  float: right;
}

.icicle {
  clear: both;
}

.icicle rect {
  stroke: #eee;
  fill: #aaa;
  fill-opacity: .8;
}

.icicle rect.parent {
  cursor: pointer;
  fill: steelblue;
}

text {
  pointer-events: none;
}

.scatter {
  margin-top: 25px;
}

.scatter svg {
  font: 10px;
}

.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
  stroke-width: .5px;
}

.axis path {
  display: none;
}

rect.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

rect.frame {
  fill: #fff;
  fill-opacity: .7;
  stroke: #aaa;
}

circle {
  fill-opacity: .5;
}

.cell text {
  pointer-events: none;
}

